<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- MySQL settings -->
    <add key="DBName" value="release"/>
    <add key="DBUser" value="prog"/>
    <add key="DBPassword" value="ppprrr"/>
    <add key="DBMachine" value="build10"/>
    <add key="DBPort" value="3306"/>
  </appSettings>

</configuration>