<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SimulatedMode" value="false" />
    <add key="ForceSimulationOnClientsWhenEnabled" value="true" />
    <add key="LogTime" value="true" />
    <add key="SkipClassesAndMethodsInStackToRemoveUselessIndentation" value="
      _ThreadPoolWaitCallback,
      ExecutionContext,
      AgileAsyncWorkerItem,
      StackBuilderSink,
      BackgroundWorker,
      LazyAsyncResult,
      _IOCompletionCallback,
      SocketHandler,
      TcpServerTransportSink,
      BinaryServerFormatterSink,
      DispatchChannelSink,
      ChannelServices,
      CrossContextChannel,
      ContextAwareResult,
      ServerContextTerminatorSink,
      ServerObjectTerminatorSink,
      ManagedProcess,
      SimulatedProcess,
      CustomProcess,
      OnProcessStarted,
      OnProcessEnded,
      OnInfo,
      OnWarning,
      RetryWhileTrueWithLimit,
      BaseOverlappedAsyncResult,
      ThreadPoolWorkQueue,
      QueueUserWorkItemCallback,
      CallMethod
    " />
  </appSettings>
</configuration>